/* Sticky footer styles
-------------------------------------------------- */
html,body{height:100%}#wrap{min-height:100%;height:auto!important;height:100%;margin:0 auto -70px;padding:0 0 70px}footer{height:70px;background-color:#0e0e0e}@media (max-width: 767px){footer{ margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px}}